a {
    color: #000;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background: whitesmoke;
}

.veryImpostantParagraph {
    text-align: center;
    font-size: 1.5em;
    font-style: bold;
    border: 1px solid #000;
    padding: 5px;
    margin: 5px auto;
}

#progressBar1,
#progressBar2,
#progressBar3,
#progressBar4,
#progressBar5,
#progressBar6,
#progressBar7,
#progressBar8,
#progressBar9,
#progressBar10,
#progressBar11,
#progressBar12 {
    width: 80%;
    height: 20px;
    margin: 15px auto;
    background-color: rgb(228, 173, 173);
    border-radius: 5px;
    margin-bottom: 40px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

}

#progressBarFill1,
#progressBarFill2,
#progressBarFill3,
#progressBarFill4,
#progressBarFill5,
#progressBarFill6,
#progressBarFill7,
#progressBarFill8,
#progressBarFill10,
#progressBarFill9,
#progressBarFill11,
#progressBarFill12 {
    height: 100%;
    background-color: #4caf50;
    border-radius: 5px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transition: all 1s ease-in-out
}

abbr {

    text-decoration: none;
}

header {
    text-align: center;
}

ul>li {
    list-style-type: none;
    margin: 1px 0px;
    border-bottom: 1px solid black;


}

button {
    display: block;
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 3px 2px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transition: all 1s ease;

}

button:hover {
    background-color: #132403;

    transform: scale(1.1)
        /* Darker Green */
}

h1,
h2,
h3 {
    text-align: center;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
}

.logo {
    height: 100px;
    width: 150px;
}


abbr.tooltip {
    position: relative;

    text-decoration: none;
}

/* Styles for the tooltip text */
abbr.tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    display: none;
    padding: 10px;
    border-radius: 5px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 0.8em;
    z-index: 20;
    text-decoration: none;

}

/* Display the tooltip text on hover */
abbr.tooltip:hover::after {
    display: block;
}


.flexContainer {
    display: flex;
    margin: auto;

}

.flexContainer>a {
    flex-wrap: wrap;

}


.flexContainer>a:hover {
    background-color: aliceblue;

}