ul {
    list-style-type: none;
    padding: 0;
    width: 80vw;
}

li {
    margin-bottom: 10px;
}

progress {
    width: 100%;
    margin-top: 20px;
    height: 30px;

}

textarea {
    display: block;
    margin: auto;
}